openapi: 3.0.2
info:
  contact:
    name: dave@mudsite.com
  description: |
    An spec API to consume the MLB Stat API
  title: MLB StatAPI
  version: 0.0.1
servers:
- url: https://statsapi.mlb.com/api
tags:
- name: mlb
paths:
  /v1/schedule:
    get:
      description: |
        Returns Schedule
      operationId: getSchedule
      parameters:
      - explode: true
        in: query
        name: sportId
        required: true
        schema:
          default: 1
          type: number
        style: form
      - explode: true
        in: query
        name: teamId
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MLBSchedule'
          description: OK
      summary: Retrieves schedule
      tags:
      - mlb
  /v1/seasons:
    get:
      description: |
        Returns Season
      operationId: getSeason
      parameters:
      - explode: true
        in: query
        name: sportId
        required: true
        schema:
          default: 1
          type: number
        style: form
      - explode: true
        in: query
        name: season
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MLBSeasons'
          description: OK
      summary: Retrieves season
      tags:
      - mlb
  /v1/seasons/all:
    get:
      description: |
        Returns All Seasons
      operationId: getAllSeasons
      parameters:
      - explode: true
        in: query
        name: sportId
        required: true
        schema:
          default: 1
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MLBSeasons'
          description: OK
      summary: Retrieves All Seasons over time
      tags:
      - mlb
  /v1/teams:
    get:
      description: |
        Returns Teams
      operationId: getTeams
      parameters:
      - explode: true
        in: query
        name: sportId
        required: true
        schema:
          default: 1
          type: number
        style: form
      - explode: true
        in: query
        name: season
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: leagueIds
        required: false
        schema:
          items:
            type: number
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MLBTeams'
          description: OK
      summary: Retrieves Teams
      tags:
      - mlb
  /v1/standings:
    get:
      description: |
        Returns Standing
      operationId: getStandings
      parameters:
      - explode: true
        in: query
        name: leagueId
        required: true
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: season
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: date
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: query
        name: fields
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: hydrate
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MLBStandingsList'
          description: OK
      summary: Retrieves Standings
      tags:
      - mlb
components:
  schemas:
    MLBRecord:
      description: |
        Record
      example:
        divisionGamesBack: divisionGamesBack
        leagueGamesBack: leagueGamesBack
        runsScored: 1.4658129805029452
        magicNumber: magicNumber
        divisionChamp: true
        divisionLeader: true
        clinched: true
        wildCardEliminationNumber: wildCardEliminationNumber
        losses: 5.637376656633329
        sportGamesBack: sportGamesBack
        lastUpdated: lastUpdated
        leagueRecord:
          wins: 1.2315135367772556
          pct: pct
          ties: 1.4894159098541704
          losses: 1.0246457001441578
        gamesPlayed: 0.8008281904610115
        season: season
        runsAllowed: 6.027456183070403
        winningPercentage: winningPercentage
        wins: 5.962133916683182
        conferenceGamesBack: conferenceGamesBack
        eliminationNumberConference: eliminationNumberConference
        sportRank: sportRank
        gamesBack: gamesBack
        divisionRank: divisionRank
        eliminationNumberDivision: eliminationNumberDivision
        team:
          teamName: teamName
          venue:
            name: name
            link: link
            active: true
            season: season
            id: 4.965218492984954
          locationName: locationName
          firstYearOfPlay: firstYearOfPlay
          league:
            hasSplitSeason: true
            link: link
            active: true
            abbreviation: abbreviation
            nameShort: nameShort
            hasWildCard: true
            seasonDateInfo:
              seasonStartDate: seasonStartDate
              springStartDate: springStartDate
              offseasonStartDate: offseasonStartDate
              offseasonEndDate: offseasonEndDate
              seasonId: seasonId
              seasonLevelGamedayType: seasonLevelGamedayType
              preSeasonStartDate: preSeasonStartDate
              preSeasonEndDate: preSeasonEndDate
              springEndDate: springEndDate
              gameLevelGamedayType: gameLevelGamedayType
            conferencesInUse: true
            seasonState: seasonState
            orgCode: orgCode
            sortOrder: 9.965781217890562
            name: name
            divisionsInUse: true
            season: season
            id: 5.025004791520295
            hasPlayoffPoints: true
          clubName: clubName
          link: link
          teamCode: teamCode
          fileCode: fileCode
          active: true
          allStarStatus: allStarStatus
          springVenue:
            name: name
            link: link
            active: true
            season: season
            id: 4.965218492984954
          abbreviation: abbreviation
          springLeague:
            hasSplitSeason: true
            link: link
            active: true
            abbreviation: abbreviation
            nameShort: nameShort
            hasWildCard: true
            seasonDateInfo:
              seasonStartDate: seasonStartDate
              springStartDate: springStartDate
              offseasonStartDate: offseasonStartDate
              offseasonEndDate: offseasonEndDate
              seasonId: seasonId
              seasonLevelGamedayType: seasonLevelGamedayType
              preSeasonStartDate: preSeasonStartDate
              preSeasonEndDate: preSeasonEndDate
              springEndDate: springEndDate
              gameLevelGamedayType: gameLevelGamedayType
            conferencesInUse: true
            seasonState: seasonState
            orgCode: orgCode
            sortOrder: 9.965781217890562
            name: name
            divisionsInUse: true
            season: season
            id: 5.025004791520295
            hasPlayoffPoints: true
          division:
            numPlayoffTeams: 6.438423552598547
            league:
              hasSplitSeason: true
              link: link
              active: true
              abbreviation: abbreviation
              nameShort: nameShort
              hasWildCard: true
              seasonDateInfo:
                seasonStartDate: seasonStartDate
                springStartDate: springStartDate
                offseasonStartDate: offseasonStartDate
                offseasonEndDate: offseasonEndDate
                seasonId: seasonId
                seasonLevelGamedayType: seasonLevelGamedayType
                preSeasonStartDate: preSeasonStartDate
                preSeasonEndDate: preSeasonEndDate
                springEndDate: springEndDate
                gameLevelGamedayType: gameLevelGamedayType
              conferencesInUse: true
              seasonState: seasonState
              orgCode: orgCode
              sortOrder: 9.965781217890562
              name: name
              divisionsInUse: true
              season: season
              id: 5.025004791520295
              hasPlayoffPoints: true
            sortOrder: 9.018348186070783
            name: name
            link: link
            season: season
            active: true
            id: 9.369310271410669
            abbreviation: abbreviation
            nameShort: nameShort
            sport:
              code: code
              activeStatus: true
              sortOrder: 8.762042012749001
              link: link
              name: name
              id: 6.683562403749608
              abbreviation: abbreviation
            hasWildcard: true
          name: name
          season: 1.1730742509559433
          id: 7.457744773683766
          shortName: shortName
          sport:
            code: code
            activeStatus: true
            sortOrder: 8.762042012749001
            link: link
            name: name
            id: 6.683562403749608
            abbreviation: abbreviation
          franchiseName: franchiseName
        streak:
          streakType: losses
        wildCardGamesBack: wildCardGamesBack
        eliminationNumber: eliminationNumber
        leagueRank: leagueRank
        eliminationNumberSport: eliminationNumberSport
        eliminationNumberLeague: eliminationNumberLeague
        runDifferential: 2.3021358869347655
        hasWildcard: true
      properties:
        team:
          $ref: '#/components/schemas/MLBTeam'
        season:
          type: string
        streak:
          $ref: '#/components/schemas/MLBStreak'
        divisionRank:
          type: string
        leagueRank:
          type: string
        sportRank:
          type: string
        gamesPlayed:
          type: number
        gamesBack:
          type: string
        wildCardGamesBack:
          type: string
        leagueGamesBack:
          type: string
        sportGamesBack:
          type: string
        divisionGamesBack:
          type: string
        conferenceGamesBack:
          type: string
        leagueRecord:
          $ref: '#/components/schemas/MLBLeagueRecord'
        lastUpdated:
          type: string
        runsAllowed:
          type: number
        runsScored:
          type: number
        divisionChamp:
          type: boolean
        divisionLeader:
          type: boolean
        hasWildcard:
          type: boolean
        clinched:
          type: boolean
        eliminationNumber:
          type: string
        eliminationNumberSport:
          type: string
        eliminationNumberLeague:
          type: string
        eliminationNumberDivision:
          type: string
        eliminationNumberConference:
          type: string
        wildCardEliminationNumber:
          type: string
        magicNumber:
          type: string
        wins:
          type: number
        losses:
          type: number
        runDifferential:
          type: number
        winningPercentage:
          type: string
      required:
      - divisionRank
      - gamesBack
      - leagueRank
      - leagueRecord
      - losses
      - season
      - streak
      - team
      - wins
      title: MLBRecord
      type: object
    MLBDivision:
      description: "Division \n"
      example:
        numPlayoffTeams: 6.438423552598547
        league:
          hasSplitSeason: true
          link: link
          active: true
          abbreviation: abbreviation
          nameShort: nameShort
          hasWildCard: true
          seasonDateInfo:
            seasonStartDate: seasonStartDate
            springStartDate: springStartDate
            offseasonStartDate: offseasonStartDate
            offseasonEndDate: offseasonEndDate
            seasonId: seasonId
            seasonLevelGamedayType: seasonLevelGamedayType
            preSeasonStartDate: preSeasonStartDate
            preSeasonEndDate: preSeasonEndDate
            springEndDate: springEndDate
            gameLevelGamedayType: gameLevelGamedayType
          conferencesInUse: true
          seasonState: seasonState
          orgCode: orgCode
          sortOrder: 9.965781217890562
          name: name
          divisionsInUse: true
          season: season
          id: 5.025004791520295
          hasPlayoffPoints: true
        sortOrder: 9.018348186070783
        name: name
        link: link
        season: season
        active: true
        id: 9.369310271410669
        abbreviation: abbreviation
        nameShort: nameShort
        sport:
          code: code
          activeStatus: true
          sortOrder: 8.762042012749001
          link: link
          name: name
          id: 6.683562403749608
          abbreviation: abbreviation
        hasWildcard: true
      properties:
        id:
          type: number
        name:
          type: string
        season:
          type: string
        nameShort:
          type: string
        link:
          type: string
        abbreviation:
          type: string
        league:
          $ref: '#/components/schemas/MLBLeague'
        sport:
          $ref: '#/components/schemas/MLBSport'
        hasWildcard:
          type: boolean
        sortOrder:
          type: number
        numPlayoffTeams:
          type: number
        active:
          type: boolean
      required:
      - id
      - name
      title: MLBDivision
      type: object
    MLBStandingsList:
      example:
        records:
        - division:
            numPlayoffTeams: 6.438423552598547
            league:
              hasSplitSeason: true
              link: link
              active: true
              abbreviation: abbreviation
              nameShort: nameShort
              hasWildCard: true
              seasonDateInfo:
                seasonStartDate: seasonStartDate
                springStartDate: springStartDate
                offseasonStartDate: offseasonStartDate
                offseasonEndDate: offseasonEndDate
                seasonId: seasonId
                seasonLevelGamedayType: seasonLevelGamedayType
                preSeasonStartDate: preSeasonStartDate
                preSeasonEndDate: preSeasonEndDate
                springEndDate: springEndDate
                gameLevelGamedayType: gameLevelGamedayType
              conferencesInUse: true
              seasonState: seasonState
              orgCode: orgCode
              sortOrder: 9.965781217890562
              name: name
              divisionsInUse: true
              season: season
              id: 5.025004791520295
              hasPlayoffPoints: true
            sortOrder: 9.018348186070783
            name: name
            link: link
            season: season
            active: true
            id: 9.369310271410669
            abbreviation: abbreviation
            nameShort: nameShort
            sport:
              code: code
              activeStatus: true
              sortOrder: 8.762042012749001
              link: link
              name: name
              id: 6.683562403749608
              abbreviation: abbreviation
            hasWildcard: true
          lastUpdated: lastUpdated
          standingsType: standingsType
          league:
            hasSplitSeason: true
            link: link
            active: true
            abbreviation: abbreviation
            nameShort: nameShort
            hasWildCard: true
            seasonDateInfo:
              seasonStartDate: seasonStartDate
              springStartDate: springStartDate
              offseasonStartDate: offseasonStartDate
              offseasonEndDate: offseasonEndDate
              seasonId: seasonId
              seasonLevelGamedayType: seasonLevelGamedayType
              preSeasonStartDate: preSeasonStartDate
              preSeasonEndDate: preSeasonEndDate
              springEndDate: springEndDate
              gameLevelGamedayType: gameLevelGamedayType
            conferencesInUse: true
            seasonState: seasonState
            orgCode: orgCode
            sortOrder: 9.965781217890562
            name: name
            divisionsInUse: true
            season: season
            id: 5.025004791520295
            hasPlayoffPoints: true
          sport:
            code: code
            activeStatus: true
            sortOrder: 8.762042012749001
            link: link
            name: name
            id: 6.683562403749608
            abbreviation: abbreviation
          teamRecords:
          - divisionGamesBack: divisionGamesBack
            leagueGamesBack: leagueGamesBack
            runsScored: 1.4658129805029452
            magicNumber: magicNumber
            divisionChamp: true
            divisionLeader: true
            clinched: true
            wildCardEliminationNumber: wildCardEliminationNumber
            losses: 5.637376656633329
            sportGamesBack: sportGamesBack
            lastUpdated: lastUpdated
            leagueRecord:
              wins: 1.2315135367772556
              pct: pct
              ties: 1.4894159098541704
              losses: 1.0246457001441578
            gamesPlayed: 0.8008281904610115
            season: season
            runsAllowed: 6.027456183070403
            winningPercentage: winningPercentage
            wins: 5.962133916683182
            conferenceGamesBack: conferenceGamesBack
            eliminationNumberConference: eliminationNumberConference
            sportRank: sportRank
            gamesBack: gamesBack
            divisionRank: divisionRank
            eliminationNumberDivision: eliminationNumberDivision
            team:
              teamName: teamName
              venue:
                name: name
                link: link
                active: true
                season: season
                id: 4.965218492984954
              locationName: locationName
              firstYearOfPlay: firstYearOfPlay
              league:
                hasSplitSeason: true
                link: link
                active: true
                abbreviation: abbreviation
                nameShort: nameShort
                hasWildCard: true
                seasonDateInfo:
                  seasonStartDate: seasonStartDate
                  springStartDate: springStartDate
                  offseasonStartDate: offseasonStartDate
                  offseasonEndDate: offseasonEndDate
                  seasonId: seasonId
                  seasonLevelGamedayType: seasonLevelGamedayType
                  preSeasonStartDate: preSeasonStartDate
                  preSeasonEndDate: preSeasonEndDate
                  springEndDate: springEndDate
                  gameLevelGamedayType: gameLevelGamedayType
                conferencesInUse: true
                seasonState: seasonState
                orgCode: orgCode
                sortOrder: 9.965781217890562
                name: name
                divisionsInUse: true
                season: season
                id: 5.025004791520295
                hasPlayoffPoints: true
              clubName: clubName
              link: link
              teamCode: teamCode
              fileCode: fileCode
              active: true
              allStarStatus: allStarStatus
              springVenue:
                name: name
                link: link
                active: true
                season: season
                id: 4.965218492984954
              abbreviation: abbreviation
              springLeague:
                hasSplitSeason: true
                link: link
                active: true
                abbreviation: abbreviation
                nameShort: nameShort
                hasWildCard: true
                seasonDateInfo:
                  seasonStartDate: seasonStartDate
                  springStartDate: springStartDate
                  offseasonStartDate: offseasonStartDate
                  offseasonEndDate: offseasonEndDate
                  seasonId: seasonId
                  seasonLevelGamedayType: seasonLevelGamedayType
                  preSeasonStartDate: preSeasonStartDate
                  preSeasonEndDate: preSeasonEndDate
                  springEndDate: springEndDate
                  gameLevelGamedayType: gameLevelGamedayType
                conferencesInUse: true
                seasonState: seasonState
                orgCode: orgCode
                sortOrder: 9.965781217890562
                name: name
                divisionsInUse: true
                season: season
                id: 5.025004791520295
                hasPlayoffPoints: true
              division:
                numPlayoffTeams: 6.438423552598547
                league:
                  hasSplitSeason: true
                  link: link
                  active: true
                  abbreviation: abbreviation
                  nameShort: nameShort
                  hasWildCard: true
                  seasonDateInfo:
                    seasonStartDate: seasonStartDate
                    springStartDate: springStartDate
                    offseasonStartDate: offseasonStartDate
                    offseasonEndDate: offseasonEndDate
                    seasonId: seasonId
                    seasonLevelGamedayType: seasonLevelGamedayType
                    preSeasonStartDate: preSeasonStartDate
                    preSeasonEndDate: preSeasonEndDate
                    springEndDate: springEndDate
                    gameLevelGamedayType: gameLevelGamedayType
                  conferencesInUse: true
                  seasonState: seasonState
                  orgCode: orgCode
                  sortOrder: 9.965781217890562
                  name: name
                  divisionsInUse: true
                  season: season
                  id: 5.025004791520295
                  hasPlayoffPoints: true
                sortOrder: 9.018348186070783
                name: name
                link: link
                season: season
                active: true
                id: 9.369310271410669
                abbreviation: abbreviation
                nameShort: nameShort
                sport:
                  code: code
                  activeStatus: true
                  sortOrder: 8.762042012749001
                  link: link
                  name: name
                  id: 6.683562403749608
                  abbreviation: abbreviation
                hasWildcard: true
              name: name
              season: 1.1730742509559433
              id: 7.457744773683766
              shortName: shortName
              sport:
                code: code
                activeStatus: true
                sortOrder: 8.762042012749001
                link: link
                name: name
                id: 6.683562403749608
                abbreviation: abbreviation
              franchiseName: franchiseName
            streak:
              streakType: losses
            wildCardGamesBack: wildCardGamesBack
            eliminationNumber: eliminationNumber
            leagueRank: leagueRank
            eliminationNumberSport: eliminationNumberSport
            eliminationNumberLeague: eliminationNumberLeague
            runDifferential: 2.3021358869347655
            hasWildcard: true
          - divisionGamesBack: divisionGamesBack
            leagueGamesBack: leagueGamesBack
            runsScored: 1.4658129805029452
            magicNumber: magicNumber
            divisionChamp: true
            divisionLeader: true
            clinched: true
            wildCardEliminationNumber: wildCardEliminationNumber
            losses: 5.637376656633329
            sportGamesBack: sportGamesBack
            lastUpdated: lastUpdated
            leagueRecord:
              wins: 1.2315135367772556
              pct: pct
              ties: 1.4894159098541704
              losses: 1.0246457001441578
            gamesPlayed: 0.8008281904610115
            season: season
            runsAllowed: 6.027456183070403
            winningPercentage: winningPercentage
            wins: 5.962133916683182
            conferenceGamesBack: conferenceGamesBack
            eliminationNumberConference: eliminationNumberConference
            sportRank: sportRank
            gamesBack: gamesBack
            divisionRank: divisionRank
            eliminationNumberDivision: eliminationNumberDivision
            team:
              teamName: teamName
              venue:
                name: name
                link: link
                active: true
                season: season
                id: 4.965218492984954
              locationName: locationName
              firstYearOfPlay: firstYearOfPlay
              league:
                hasSplitSeason: true
                link: link
                active: true
                abbreviation: abbreviation
                nameShort: nameShort
                hasWildCard: true
                seasonDateInfo:
                  seasonStartDate: seasonStartDate
                  springStartDate: springStartDate
                  offseasonStartDate: offseasonStartDate
                  offseasonEndDate: offseasonEndDate
                  seasonId: seasonId
                  seasonLevelGamedayType: seasonLevelGamedayType
                  preSeasonStartDate: preSeasonStartDate
                  preSeasonEndDate: preSeasonEndDate
                  springEndDate: springEndDate
                  gameLevelGamedayType: gameLevelGamedayType
                conferencesInUse: true
                seasonState: seasonState
                orgCode: orgCode
                sortOrder: 9.965781217890562
                name: name
                divisionsInUse: true
                season: season
                id: 5.025004791520295
                hasPlayoffPoints: true
              clubName: clubName
              link: link
              teamCode: teamCode
              fileCode: fileCode
              active: true
              allStarStatus: allStarStatus
              springVenue:
                name: name
                link: link
                active: true
                season: season
                id: 4.965218492984954
              abbreviation: abbreviation
              springLeague:
                hasSplitSeason: true
                link: link
                active: true
                abbreviation: abbreviation
                nameShort: nameShort
                hasWildCard: true
                seasonDateInfo:
                  seasonStartDate: seasonStartDate
                  springStartDate: springStartDate
                  offseasonStartDate: offseasonStartDate
                  offseasonEndDate: offseasonEndDate
                  seasonId: seasonId
                  seasonLevelGamedayType: seasonLevelGamedayType
                  preSeasonStartDate: preSeasonStartDate
                  preSeasonEndDate: preSeasonEndDate
                  springEndDate: springEndDate
                  gameLevelGamedayType: gameLevelGamedayType
                conferencesInUse: true
                seasonState: seasonState
                orgCode: orgCode
                sortOrder: 9.965781217890562
                name: name
                divisionsInUse: true
                season: season
                id: 5.025004791520295
                hasPlayoffPoints: true
              division:
                numPlayoffTeams: 6.438423552598547
                league:
                  hasSplitSeason: true
                  link: link
                  active: true
                  abbreviation: abbreviation
                  nameShort: nameShort
                  hasWildCard: true
                  seasonDateInfo:
                    seasonStartDate: seasonStartDate
                    springStartDate: springStartDate
                    offseasonStartDate: offseasonStartDate
                    offseasonEndDate: offseasonEndDate
                    seasonId: seasonId
                    seasonLevelGamedayType: seasonLevelGamedayType
                    preSeasonStartDate: preSeasonStartDate
                    preSeasonEndDate: preSeasonEndDate
                    springEndDate: springEndDate
                    gameLevelGamedayType: gameLevelGamedayType
                  conferencesInUse: true
                  seasonState: seasonState
                  orgCode: orgCode
                  sortOrder: 9.965781217890562
                  name: name
                  divisionsInUse: true
                  season: season
                  id: 5.025004791520295
                  hasPlayoffPoints: true
                sortOrder: 9.018348186070783
                name: name
                link: link
                season: season
                active: true
                id: 9.369310271410669
                abbreviation: abbreviation
                nameShort: nameShort
                sport:
                  code: code
                  activeStatus: true
                  sortOrder: 8.762042012749001
                  link: link
                  name: name
                  id: 6.683562403749608
                  abbreviation: abbreviation
                hasWildcard: true
              name: name
              season: 1.1730742509559433
              id: 7.457744773683766
              shortName: shortName
              sport:
                code: code
                activeStatus: true
                sortOrder: 8.762042012749001
                link: link
                name: name
                id: 6.683562403749608
                abbreviation: abbreviation
              franchiseName: franchiseName
            streak:
              streakType: losses
            wildCardGamesBack: wildCardGamesBack
            eliminationNumber: eliminationNumber
            leagueRank: leagueRank
            eliminationNumberSport: eliminationNumberSport
            eliminationNumberLeague: eliminationNumberLeague
            runDifferential: 2.3021358869347655
            hasWildcard: true
        - division:
            numPlayoffTeams: 6.438423552598547
            league:
              hasSplitSeason: true
              link: link
              active: true
              abbreviation: abbreviation
              nameShort: nameShort
              hasWildCard: true
              seasonDateInfo:
                seasonStartDate: seasonStartDate
                springStartDate: springStartDate
                offseasonStartDate: offseasonStartDate
                offseasonEndDate: offseasonEndDate
                seasonId: seasonId
                seasonLevelGamedayType: seasonLevelGamedayType
                preSeasonStartDate: preSeasonStartDate
                preSeasonEndDate: preSeasonEndDate
                springEndDate: springEndDate
                gameLevelGamedayType: gameLevelGamedayType
              conferencesInUse: true
              seasonState: seasonState
              orgCode: orgCode
              sortOrder: 9.965781217890562
              name: name
              divisionsInUse: true
              season: season
              id: 5.025004791520295
              hasPlayoffPoints: true
            sortOrder: 9.018348186070783
            name: name
            link: link
            season: season
            active: true
            id: 9.369310271410669
            abbreviation: abbreviation
            nameShort: nameShort
            sport:
              code: code
              activeStatus: true
              sortOrder: 8.762042012749001
              link: link
              name: name
              id: 6.683562403749608
              abbreviation: abbreviation
            hasWildcard: true
          lastUpdated: lastUpdated
          standingsType: standingsType
          league:
            hasSplitSeason: true
            link: link
            active: true
            abbreviation: abbreviation
            nameShort: nameShort
            hasWildCard: true
            seasonDateInfo:
              seasonStartDate: seasonStartDate
              springStartDate: springStartDate
              offseasonStartDate: offseasonStartDate
              offseasonEndDate: offseasonEndDate
              seasonId: seasonId
              seasonLevelGamedayType: seasonLevelGamedayType
              preSeasonStartDate: preSeasonStartDate
              preSeasonEndDate: preSeasonEndDate
              springEndDate: springEndDate
              gameLevelGamedayType: gameLevelGamedayType
            conferencesInUse: true
            seasonState: seasonState
            orgCode: orgCode
            sortOrder: 9.965781217890562
            name: name
            divisionsInUse: true
            season: season
            id: 5.025004791520295
            hasPlayoffPoints: true
          sport:
            code: code
            activeStatus: true
            sortOrder: 8.762042012749001
            link: link
            name: name
            id: 6.683562403749608
            abbreviation: abbreviation
          teamRecords:
          - divisionGamesBack: divisionGamesBack
            leagueGamesBack: leagueGamesBack
            runsScored: 1.4658129805029452
            magicNumber: magicNumber
            divisionChamp: true
            divisionLeader: true
            clinched: true
            wildCardEliminationNumber: wildCardEliminationNumber
            losses: 5.637376656633329
            sportGamesBack: sportGamesBack
            lastUpdated: lastUpdated
            leagueRecord:
              wins: 1.2315135367772556
              pct: pct
              ties: 1.4894159098541704
              losses: 1.0246457001441578
            gamesPlayed: 0.8008281904610115
            season: season
            runsAllowed: 6.027456183070403
            winningPercentage: winningPercentage
            wins: 5.962133916683182
            conferenceGamesBack: conferenceGamesBack
            eliminationNumberConference: eliminationNumberConference
            sportRank: sportRank
            gamesBack: gamesBack
            divisionRank: divisionRank
            eliminationNumberDivision: eliminationNumberDivision
            team:
              teamName: teamName
              venue:
                name: name
                link: link
                active: true
                season: season
                id: 4.965218492984954
              locationName: locationName
              firstYearOfPlay: firstYearOfPlay
              league:
                hasSplitSeason: true
                link: link
                active: true
                abbreviation: abbreviation
                nameShort: nameShort
                hasWildCard: true
                seasonDateInfo:
                  seasonStartDate: seasonStartDate
                  springStartDate: springStartDate
                  offseasonStartDate: offseasonStartDate
                  offseasonEndDate: offseasonEndDate
                  seasonId: seasonId
                  seasonLevelGamedayType: seasonLevelGamedayType
                  preSeasonStartDate: preSeasonStartDate
                  preSeasonEndDate: preSeasonEndDate
                  springEndDate: springEndDate
                  gameLevelGamedayType: gameLevelGamedayType
                conferencesInUse: true
                seasonState: seasonState
                orgCode: orgCode
                sortOrder: 9.965781217890562
                name: name
                divisionsInUse: true
                season: season
                id: 5.025004791520295
                hasPlayoffPoints: true
              clubName: clubName
              link: link
              teamCode: teamCode
              fileCode: fileCode
              active: true
              allStarStatus: allStarStatus
              springVenue:
                name: name
                link: link
                active: true
                season: season
                id: 4.965218492984954
              abbreviation: abbreviation
              springLeague:
                hasSplitSeason: true
                link: link
                active: true
                abbreviation: abbreviation
                nameShort: nameShort
                hasWildCard: true
                seasonDateInfo:
                  seasonStartDate: seasonStartDate
                  springStartDate: springStartDate
                  offseasonStartDate: offseasonStartDate
                  offseasonEndDate: offseasonEndDate
                  seasonId: seasonId
                  seasonLevelGamedayType: seasonLevelGamedayType
                  preSeasonStartDate: preSeasonStartDate
                  preSeasonEndDate: preSeasonEndDate
                  springEndDate: springEndDate
                  gameLevelGamedayType: gameLevelGamedayType
                conferencesInUse: true
                seasonState: seasonState
                orgCode: orgCode
                sortOrder: 9.965781217890562
                name: name
                divisionsInUse: true
                season: season
                id: 5.025004791520295
                hasPlayoffPoints: true
              division:
                numPlayoffTeams: 6.438423552598547
                league:
                  hasSplitSeason: true
                  link: link
                  active: true
                  abbreviation: abbreviation
                  nameShort: nameShort
                  hasWildCard: true
                  seasonDateInfo:
                    seasonStartDate: seasonStartDate
                    springStartDate: springStartDate
                    offseasonStartDate: offseasonStartDate
                    offseasonEndDate: offseasonEndDate
                    seasonId: seasonId
                    seasonLevelGamedayType: seasonLevelGamedayType
                    preSeasonStartDate: preSeasonStartDate
                    preSeasonEndDate: preSeasonEndDate
                    springEndDate: springEndDate
                    gameLevelGamedayType: gameLevelGamedayType
                  conferencesInUse: true
                  seasonState: seasonState
                  orgCode: orgCode
                  sortOrder: 9.965781217890562
                  name: name
                  divisionsInUse: true
                  season: season
                  id: 5.025004791520295
                  hasPlayoffPoints: true
                sortOrder: 9.018348186070783
                name: name
                link: link
                season: season
                active: true
                id: 9.369310271410669
                abbreviation: abbreviation
                nameShort: nameShort
                sport:
                  code: code
                  activeStatus: true
                  sortOrder: 8.762042012749001
                  link: link
                  name: name
                  id: 6.683562403749608
                  abbreviation: abbreviation
                hasWildcard: true
              name: name
              season: 1.1730742509559433
              id: 7.457744773683766
              shortName: shortName
              sport:
                code: code
                activeStatus: true
                sortOrder: 8.762042012749001
                link: link
                name: name
                id: 6.683562403749608
                abbreviation: abbreviation
              franchiseName: franchiseName
            streak:
              streakType: losses
            wildCardGamesBack: wildCardGamesBack
            eliminationNumber: eliminationNumber
            leagueRank: leagueRank
            eliminationNumberSport: eliminationNumberSport
            eliminationNumberLeague: eliminationNumberLeague
            runDifferential: 2.3021358869347655
            hasWildcard: true
          - divisionGamesBack: divisionGamesBack
            leagueGamesBack: leagueGamesBack
            runsScored: 1.4658129805029452
            magicNumber: magicNumber
            divisionChamp: true
            divisionLeader: true
            clinched: true
            wildCardEliminationNumber: wildCardEliminationNumber
            losses: 5.637376656633329
            sportGamesBack: sportGamesBack
            lastUpdated: lastUpdated
            leagueRecord:
              wins: 1.2315135367772556
              pct: pct
              ties: 1.4894159098541704
              losses: 1.0246457001441578
            gamesPlayed: 0.8008281904610115
            season: season
            runsAllowed: 6.027456183070403
            winningPercentage: winningPercentage
            wins: 5.962133916683182
            conferenceGamesBack: conferenceGamesBack
            eliminationNumberConference: eliminationNumberConference
            sportRank: sportRank
            gamesBack: gamesBack
            divisionRank: divisionRank
            eliminationNumberDivision: eliminationNumberDivision
            team:
              teamName: teamName
              venue:
                name: name
                link: link
                active: true
                season: season
                id: 4.965218492984954
              locationName: locationName
              firstYearOfPlay: firstYearOfPlay
              league:
                hasSplitSeason: true
                link: link
                active: true
                abbreviation: abbreviation
                nameShort: nameShort
                hasWildCard: true
                seasonDateInfo:
                  seasonStartDate: seasonStartDate
                  springStartDate: springStartDate
                  offseasonStartDate: offseasonStartDate
                  offseasonEndDate: offseasonEndDate
                  seasonId: seasonId
                  seasonLevelGamedayType: seasonLevelGamedayType
                  preSeasonStartDate: preSeasonStartDate
                  preSeasonEndDate: preSeasonEndDate
                  springEndDate: springEndDate
                  gameLevelGamedayType: gameLevelGamedayType
                conferencesInUse: true
                seasonState: seasonState
                orgCode: orgCode
                sortOrder: 9.965781217890562
                name: name
                divisionsInUse: true
                season: season
                id: 5.025004791520295
                hasPlayoffPoints: true
              clubName: clubName
              link: link
              teamCode: teamCode
              fileCode: fileCode
              active: true
              allStarStatus: allStarStatus
              springVenue:
                name: name
                link: link
                active: true
                season: season
                id: 4.965218492984954
              abbreviation: abbreviation
              springLeague:
                hasSplitSeason: true
                link: link
                active: true
                abbreviation: abbreviation
                nameShort: nameShort
                hasWildCard: true
                seasonDateInfo:
                  seasonStartDate: seasonStartDate
                  springStartDate: springStartDate
                  offseasonStartDate: offseasonStartDate
                  offseasonEndDate: offseasonEndDate
                  seasonId: seasonId
                  seasonLevelGamedayType: seasonLevelGamedayType
                  preSeasonStartDate: preSeasonStartDate
                  preSeasonEndDate: preSeasonEndDate
                  springEndDate: springEndDate
                  gameLevelGamedayType: gameLevelGamedayType
                conferencesInUse: true
                seasonState: seasonState
                orgCode: orgCode
                sortOrder: 9.965781217890562
                name: name
                divisionsInUse: true
                season: season
                id: 5.025004791520295
                hasPlayoffPoints: true
              division:
                numPlayoffTeams: 6.438423552598547
                league:
                  hasSplitSeason: true
                  link: link
                  active: true
                  abbreviation: abbreviation
                  nameShort: nameShort
                  hasWildCard: true
                  seasonDateInfo:
                    seasonStartDate: seasonStartDate
                    springStartDate: springStartDate
                    offseasonStartDate: offseasonStartDate
                    offseasonEndDate: offseasonEndDate
                    seasonId: seasonId
                    seasonLevelGamedayType: seasonLevelGamedayType
                    preSeasonStartDate: preSeasonStartDate
                    preSeasonEndDate: preSeasonEndDate
                    springEndDate: springEndDate
                    gameLevelGamedayType: gameLevelGamedayType
                  conferencesInUse: true
                  seasonState: seasonState
                  orgCode: orgCode
                  sortOrder: 9.965781217890562
                  name: name
                  divisionsInUse: true
                  season: season
                  id: 5.025004791520295
                  hasPlayoffPoints: true
                sortOrder: 9.018348186070783
                name: name
                link: link
                season: season
                active: true
                id: 9.369310271410669
                abbreviation: abbreviation
                nameShort: nameShort
                sport:
                  code: code
                  activeStatus: true
                  sortOrder: 8.762042012749001
                  link: link
                  name: name
                  id: 6.683562403749608
                  abbreviation: abbreviation
                hasWildcard: true
              name: name
              season: 1.1730742509559433
              id: 7.457744773683766
              shortName: shortName
              sport:
                code: code
                activeStatus: true
                sortOrder: 8.762042012749001
                link: link
                name: name
                id: 6.683562403749608
                abbreviation: abbreviation
              franchiseName: franchiseName
            streak:
              streakType: losses
            wildCardGamesBack: wildCardGamesBack
            eliminationNumber: eliminationNumber
            leagueRank: leagueRank
            eliminationNumberSport: eliminationNumberSport
            eliminationNumberLeague: eliminationNumberLeague
            runDifferential: 2.3021358869347655
            hasWildcard: true
      properties:
        records:
          items:
            $ref: '#/components/schemas/MLBStandings'
          type: array
      title: MLBStandingsList
      type: object
    MLBLeague:
      description: "League \n"
      example:
        hasSplitSeason: true
        link: link
        active: true
        abbreviation: abbreviation
        nameShort: nameShort
        hasWildCard: true
        seasonDateInfo:
          seasonStartDate: seasonStartDate
          springStartDate: springStartDate
          offseasonStartDate: offseasonStartDate
          offseasonEndDate: offseasonEndDate
          seasonId: seasonId
          seasonLevelGamedayType: seasonLevelGamedayType
          preSeasonStartDate: preSeasonStartDate
          preSeasonEndDate: preSeasonEndDate
          springEndDate: springEndDate
          gameLevelGamedayType: gameLevelGamedayType
        conferencesInUse: true
        seasonState: seasonState
        orgCode: orgCode
        sortOrder: 9.965781217890562
        name: name
        divisionsInUse: true
        season: season
        id: 5.025004791520295
        hasPlayoffPoints: true
      properties:
        id:
          type: number
        name:
          type: string
        link:
          type: string
        abbreviation:
          type: string
        nameShort:
          type: string
        seasonState:
          type: string
        hasWildCard:
          type: boolean
        hasSplitSeason:
          type: boolean
        hasPlayoffPoints:
          type: boolean
        seasonDateInfo:
          $ref: '#/components/schemas/MLBLeagueDates'
        season:
          type: string
        orgCode:
          type: string
        conferencesInUse:
          type: boolean
        divisionsInUse:
          type: boolean
        sortOrder:
          type: number
        active:
          type: boolean
      required:
      - id
      - name
      title: MLBLeague
      type: object
    MLBStreak:
      example:
        streakType: losses
      properties:
        streakType:
          description: |
            Streak Type:
              * Losing Streak
              * Winning Streak
          enum:
          - losses
          - wins
          type: string
          x-enum-varnames:
          - Losing
          - Winning
      title: MLBStreak
      type: object
    MLBGame:
      description: |
        Game Thing
      example:
        gamePk: 3.616076749251911
        gameType: E
        venue:
          name: name
          link: link
          active: true
          season: season
          id: 4.965218492984954
        doubleHeader: doubleHeader
        calendarEventID: calendarEventID
        gameDate: gameDate
        link: link
        rescheduledFromDate: rescheduledFromDate
        description: description
        tiebreaker: tiebreaker
        rescheduledFrom: 7.386281948385884
        rescheduledTo: 4.145608029883936
        season: 2.027123023002322
        seriesGameNumber: 6.878052220127876
        gameGuid: gameGuid
        gamedayType: gamedayType
        recordSource: recordSource
        ifNecessary: ifNecessary
        seriesDescription: seriesDescription
        teams:
          away:
            score: 6.84685269835264
            isWinner: true
            leagueRecord:
              wins: 1.2315135367772556
              pct: pct
              ties: 1.4894159098541704
              losses: 1.0246457001441578
            splitSquad: true
            team:
              teamName: teamName
              venue:
                name: name
                link: link
                active: true
                season: season
                id: 4.965218492984954
              locationName: locationName
              firstYearOfPlay: firstYearOfPlay
              league:
                hasSplitSeason: true
                link: link
                active: true
                abbreviation: abbreviation
                nameShort: nameShort
                hasWildCard: true
                seasonDateInfo:
                  seasonStartDate: seasonStartDate
                  springStartDate: springStartDate
                  offseasonStartDate: offseasonStartDate
                  offseasonEndDate: offseasonEndDate
                  seasonId: seasonId
                  seasonLevelGamedayType: seasonLevelGamedayType
                  preSeasonStartDate: preSeasonStartDate
                  preSeasonEndDate: preSeasonEndDate
                  springEndDate: springEndDate
                  gameLevelGamedayType: gameLevelGamedayType
                conferencesInUse: true
                seasonState: seasonState
                orgCode: orgCode
                sortOrder: 9.965781217890562
                name: name
                divisionsInUse: true
                season: season
                id: 5.025004791520295
                hasPlayoffPoints: true
              clubName: clubName
              link: link
              teamCode: teamCode
              fileCode: fileCode
              active: true
              allStarStatus: allStarStatus
              springVenue:
                name: name
                link: link
                active: true
                season: season
                id: 4.965218492984954
              abbreviation: abbreviation
              springLeague:
                hasSplitSeason: true
                link: link
                active: true
                abbreviation: abbreviation
                nameShort: nameShort
                hasWildCard: true
                seasonDateInfo:
                  seasonStartDate: seasonStartDate
                  springStartDate: springStartDate
                  offseasonStartDate: offseasonStartDate
                  offseasonEndDate: offseasonEndDate
                  seasonId: seasonId
                  seasonLevelGamedayType: seasonLevelGamedayType
                  preSeasonStartDate: preSeasonStartDate
                  preSeasonEndDate: preSeasonEndDate
                  springEndDate: springEndDate
                  gameLevelGamedayType: gameLevelGamedayType
                conferencesInUse: true
                seasonState: seasonState
                orgCode: orgCode
                sortOrder: 9.965781217890562
                name: name
                divisionsInUse: true
                season: season
                id: 5.025004791520295
                hasPlayoffPoints: true
              division:
                numPlayoffTeams: 6.438423552598547
                league:
                  hasSplitSeason: true
                  link: link
                  active: true
                  abbreviation: abbreviation
                  nameShort: nameShort
                  hasWildCard: true
                  seasonDateInfo:
                    seasonStartDate: seasonStartDate
                    springStartDate: springStartDate
                    offseasonStartDate: offseasonStartDate
                    offseasonEndDate: offseasonEndDate
                    seasonId: seasonId
                    seasonLevelGamedayType: seasonLevelGamedayType
                    preSeasonStartDate: preSeasonStartDate
                    preSeasonEndDate: preSeasonEndDate
                    springEndDate: springEndDate
                    gameLevelGamedayType: gameLevelGamedayType
                  conferencesInUse: true
                  seasonState: seasonState
                  orgCode: orgCode
                  sortOrder: 9.965781217890562
                  name: name
                  divisionsInUse: true
                  season: season
                  id: 5.025004791520295
                  hasPlayoffPoints: true
                sortOrder: 9.018348186070783
                name: name
                link: link
                season: season
                active: true
                id: 9.369310271410669
                abbreviation: abbreviation
                nameShort: nameShort
                sport:
                  code: code
                  activeStatus: true
                  sortOrder: 8.762042012749001
                  link: link
                  name: name
                  id: 6.683562403749608
                  abbreviation: abbreviation
                hasWildcard: true
              name: name
              season: 1.1730742509559433
              id: 7.457744773683766
              shortName: shortName
              sport:
                code: code
                activeStatus: true
                sortOrder: 8.762042012749001
                link: link
                name: name
                id: 6.683562403749608
                abbreviation: abbreviation
              franchiseName: franchiseName
            seriesNumber: 3.5571952270680973
          home:
            score: 6.84685269835264
            isWinner: true
            leagueRecord:
              wins: 1.2315135367772556
              pct: pct
              ties: 1.4894159098541704
              losses: 1.0246457001441578
            splitSquad: true
            team:
              teamName: teamName
              venue:
                name: name
                link: link
                active: true
                season: season
                id: 4.965218492984954
              locationName: locationName
              firstYearOfPlay: firstYearOfPlay
              league:
                hasSplitSeason: true
                link: link
                active: true
                abbreviation: abbreviation
                nameShort: nameShort
                hasWildCard: true
                seasonDateInfo:
                  seasonStartDate: seasonStartDate
                  springStartDate: springStartDate
                  offseasonStartDate: offseasonStartDate
                  offseasonEndDate: offseasonEndDate
                  seasonId: seasonId
                  seasonLevelGamedayType: seasonLevelGamedayType
                  preSeasonStartDate: preSeasonStartDate
                  preSeasonEndDate: preSeasonEndDate
                  springEndDate: springEndDate
                  gameLevelGamedayType: gameLevelGamedayType
                conferencesInUse: true
                seasonState: seasonState
                orgCode: orgCode
                sortOrder: 9.965781217890562
                name: name
                divisionsInUse: true
                season: season
                id: 5.025004791520295
                hasPlayoffPoints: true
              clubName: clubName
              link: link
              teamCode: teamCode
              fileCode: fileCode
              active: true
              allStarStatus: allStarStatus
              springVenue:
                name: name
                link: link
                active: true
                season: season
                id: 4.965218492984954
              abbreviation: abbreviation
              springLeague:
                hasSplitSeason: true
                link: link
                active: true
                abbreviation: abbreviation
                nameShort: nameShort
                hasWildCard: true
                seasonDateInfo:
                  seasonStartDate: seasonStartDate
                  springStartDate: springStartDate
                  offseasonStartDate: offseasonStartDate
                  offseasonEndDate: offseasonEndDate
                  seasonId: seasonId
                  seasonLevelGamedayType: seasonLevelGamedayType
                  preSeasonStartDate: preSeasonStartDate
                  preSeasonEndDate: preSeasonEndDate
                  springEndDate: springEndDate
                  gameLevelGamedayType: gameLevelGamedayType
                conferencesInUse: true
                seasonState: seasonState
                orgCode: orgCode
                sortOrder: 9.965781217890562
                name: name
                divisionsInUse: true
                season: season
                id: 5.025004791520295
                hasPlayoffPoints: true
              division:
                numPlayoffTeams: 6.438423552598547
                league:
                  hasSplitSeason: true
                  link: link
                  active: true
                  abbreviation: abbreviation
                  nameShort: nameShort
                  hasWildCard: true
                  seasonDateInfo:
                    seasonStartDate: seasonStartDate
                    springStartDate: springStartDate
                    offseasonStartDate: offseasonStartDate
                    offseasonEndDate: offseasonEndDate
                    seasonId: seasonId
                    seasonLevelGamedayType: seasonLevelGamedayType
                    preSeasonStartDate: preSeasonStartDate
                    preSeasonEndDate: preSeasonEndDate
                    springEndDate: springEndDate
                    gameLevelGamedayType: gameLevelGamedayType
                  conferencesInUse: true
                  seasonState: seasonState
                  orgCode: orgCode
                  sortOrder: 9.965781217890562
                  name: name
                  divisionsInUse: true
                  season: season
                  id: 5.025004791520295
                  hasPlayoffPoints: true
                sortOrder: 9.018348186070783
                name: name
                link: link
                season: season
                active: true
                id: 9.369310271410669
                abbreviation: abbreviation
                nameShort: nameShort
                sport:
                  code: code
                  activeStatus: true
                  sortOrder: 8.762042012749001
                  link: link
                  name: name
                  id: 6.683562403749608
                  abbreviation: abbreviation
                hasWildcard: true
              name: name
              season: 1.1730742509559433
              id: 7.457744773683766
              shortName: shortName
              sport:
                code: code
                activeStatus: true
                sortOrder: 8.762042012749001
                link: link
                name: name
                id: 6.683562403749608
                abbreviation: abbreviation
              franchiseName: franchiseName
            seriesNumber: 3.5571952270680973
        reverseHomeAwayStatus: true
        inningBreakLength: 2.8841621266687802
        officialDate: officialDate
        scheduledInnings: 1.284659006116532
        publicFacing: true
        dayNight: dayNight
        gamesInSeries: 6.778324963048013
        rescheduledToDate: rescheduledToDate
        gameNumber: 6.965117697638846
        ifNecessaryDescription: ifNecessaryDescription
        isTie: true
        seasonDisplay: seasonDisplay
        status:
          codedGameState: F
          abstractGameCode: abstractGameCode
          abstractGameState: abstractGameState
          detailedState: detailedState
          startTimeTBD: true
          statusCode: statusCode
      properties:
        gamePk:
          type: number
        gameGuid:
          type: string
        link:
          type: string
        gameType:
          description: |
            Game Type:
              * `E` - Exhibition
              * `S` - Spring Training
              * `R` - Regular Season
              * `F` - Wild Card Series
              * `D` - Division Series
              * `L` - League Championship Series
              * `W` - World Series
          enum:
          - E
          - S
          - R
          - F
          - D
          - L
          - W
          type: string
          x-enum-varnames:
          - Exhibition
          - SpringTraining
          - Regular
          - WildCardSeries
          - DivisionSeries
          - LeagueChampionshipSeries
          - WorldSeries
        season:
          type: number
        gameDate:
          type: string
        officialDate:
          type: string
        rescheduledTo:
          type: number
        rescheduledToDate:
          type: string
        rescheduledFrom:
          type: number
        rescheduledFromDate:
          type: string
        status:
          $ref: '#/components/schemas/MLBGameStatus'
        teams:
          $ref: '#/components/schemas/MLBGameTeams'
        venue:
          $ref: '#/components/schemas/MLBVenue'
        isTie:
          type: boolean
        gameNumber:
          type: number
        publicFacing:
          type: boolean
        doubleHeader:
          type: string
        gamedayType:
          type: string
        tiebreaker:
          type: string
        calendarEventID:
          type: string
        seasonDisplay:
          type: string
        dayNight:
          type: string
        description:
          type: string
        scheduledInnings:
          type: number
        reverseHomeAwayStatus:
          type: boolean
        inningBreakLength:
          type: number
        gamesInSeries:
          type: number
        seriesGameNumber:
          type: number
        seriesDescription:
          type: string
        recordSource:
          type: string
        ifNecessary:
          type: string
        ifNecessaryDescription:
          type: string
      required:
      - gameDate
      - gameGuid
      - gameNumber
      - gamePk
      - gameType
      - gamesInSeries
      - officialDate
      - season
      - seriesGameNumber
      - status
      - teams
      title: MLBGame
      type: object
    MLBSchedule:
      description: |
        Schedule
      example:
        totalGamesInProgress: 5.962133916683182
        totalItems: 0.8008281904610115
        totalGames: 1.4658129805029452
        totalEvents: 6.027456183070403
        dates:
        - date: date
          totalGamesInProgress: 9.301444243932576
          totalItems: 5.637376656633329
          totalGames: 7.061401241503109
          totalEvents: 2.3021358869347655
          games:
          - gamePk: 3.616076749251911
            gameType: E
            venue:
              name: name
              link: link
              active: true
              season: season
              id: 4.965218492984954
            doubleHeader: doubleHeader
            calendarEventID: calendarEventID
            gameDate: gameDate
            link: link
            rescheduledFromDate: rescheduledFromDate
            description: description
            tiebreaker: tiebreaker
            rescheduledFrom: 7.386281948385884
            rescheduledTo: 4.145608029883936
            season: 2.027123023002322
            seriesGameNumber: 6.878052220127876
            gameGuid: gameGuid
            gamedayType: gamedayType
            recordSource: recordSource
            ifNecessary: ifNecessary
            seriesDescription: seriesDescription
            teams:
              away:
                score: 6.84685269835264
                isWinner: true
                leagueRecord:
                  wins: 1.2315135367772556
                  pct: pct
                  ties: 1.4894159098541704
                  losses: 1.0246457001441578
                splitSquad: true
                team:
                  teamName: teamName
                  venue:
                    name: name
                    link: link
                    active: true
                    season: season
                    id: 4.965218492984954
                  locationName: locationName
                  firstYearOfPlay: firstYearOfPlay
                  league:
                    hasSplitSeason: true
                    link: link
                    active: true
                    abbreviation: abbreviation
                    nameShort: nameShort
                    hasWildCard: true
                    seasonDateInfo:
                      seasonStartDate: seasonStartDate
                      springStartDate: springStartDate
                      offseasonStartDate: offseasonStartDate
                      offseasonEndDate: offseasonEndDate
                      seasonId: seasonId
                      seasonLevelGamedayType: seasonLevelGamedayType
                      preSeasonStartDate: preSeasonStartDate
                      preSeasonEndDate: preSeasonEndDate
                      springEndDate: springEndDate
                      gameLevelGamedayType: gameLevelGamedayType
                    conferencesInUse: true
                    seasonState: seasonState
                    orgCode: orgCode
                    sortOrder: 9.965781217890562
                    name: name
                    divisionsInUse: true
                    season: season
                    id: 5.025004791520295
                    hasPlayoffPoints: true
                  clubName: clubName
                  link: link
                  teamCode: teamCode
                  fileCode: fileCode
                  active: true
                  allStarStatus: allStarStatus
                  springVenue:
                    name: name
                    link: link
                    active: true
                    season: season
                    id: 4.965218492984954
                  abbreviation: abbreviation
                  springLeague:
                    hasSplitSeason: true
                    link: link
                    active: true
                    abbreviation: abbreviation
                    nameShort: nameShort
                    hasWildCard: true
                    seasonDateInfo:
                      seasonStartDate: seasonStartDate
                      springStartDate: springStartDate
                      offseasonStartDate: offseasonStartDate
                      offseasonEndDate: offseasonEndDate
                      seasonId: seasonId
                      seasonLevelGamedayType: seasonLevelGamedayType
                      preSeasonStartDate: preSeasonStartDate
                      preSeasonEndDate: preSeasonEndDate
                      springEndDate: springEndDate
                      gameLevelGamedayType: gameLevelGamedayType
                    conferencesInUse: true
                    seasonState: seasonState
                    orgCode: orgCode
                    sortOrder: 9.965781217890562
                    name: name
                    divisionsInUse: true
                    season: season
                    id: 5.025004791520295
                    hasPlayoffPoints: true
                  division:
                    numPlayoffTeams: 6.438423552598547
                    league:
                      hasSplitSeason: true
                      link: link
                      active: true
                      abbreviation: abbreviation
                      nameShort: nameShort
                      hasWildCard: true
                      seasonDateInfo:
                        seasonStartDate: seasonStartDate
                        springStartDate: springStartDate
                        offseasonStartDate: offseasonStartDate
                        offseasonEndDate: offseasonEndDate
                        seasonId: seasonId
                        seasonLevelGamedayType: seasonLevelGamedayType
                        preSeasonStartDate: preSeasonStartDate
                        preSeasonEndDate: preSeasonEndDate
                        springEndDate: springEndDate
                        gameLevelGamedayType: gameLevelGamedayType
                      conferencesInUse: true
                      seasonState: seasonState
                      orgCode: orgCode
                      sortOrder: 9.965781217890562
                      name: name
                      divisionsInUse: true
                      season: season
                      id: 5.025004791520295
                      hasPlayoffPoints: true
                    sortOrder: 9.018348186070783
                    name: name
                    link: link
                    season: season
                    active: true
                    id: 9.369310271410669
                    abbreviation: abbreviation
                    nameShort: nameShort
                    sport:
                      code: code
                      activeStatus: true
                      sortOrder: 8.762042012749001
                      link: link
                      name: name
                      id: 6.683562403749608
                      abbreviation: abbreviation
                    hasWildcard: true
                  name: name
                  season: 1.1730742509559433
                  id: 7.457744773683766
                  shortName: shortName
                  sport:
                    code: code
                    activeStatus: true
                    sortOrder: 8.762042012749001
                    link: link
                    name: name
                    id: 6.683562403749608
                    abbreviation: abbreviation
                  franchiseName: franchiseName
                seriesNumber: 3.5571952270680973
              home:
                score: 6.84685269835264
                isWinner: true
                leagueRecord:
                  wins: 1.2315135367772556
                  pct: pct
                  ties: 1.4894159098541704
                  losses: 1.0246457001441578
                splitSquad: true
                team:
                  teamName: teamName
                  venue:
                    name: name
                    link: link
                    active: true
                    season: season
                    id: 4.965218492984954
                  locationName: locationName
                  firstYearOfPlay: firstYearOfPlay
                  league:
                    hasSplitSeason: true
                    link: link
                    active: true
                    abbreviation: abbreviation
                    nameShort: nameShort
                    hasWildCard: true
                    seasonDateInfo:
                      seasonStartDate: seasonStartDate
                      springStartDate: springStartDate
                      offseasonStartDate: offseasonStartDate
                      offseasonEndDate: offseasonEndDate
                      seasonId: seasonId
                      seasonLevelGamedayType: seasonLevelGamedayType
                      preSeasonStartDate: preSeasonStartDate
                      preSeasonEndDate: preSeasonEndDate
                      springEndDate: springEndDate
                      gameLevelGamedayType: gameLevelGamedayType
                    conferencesInUse: true
                    seasonState: seasonState
                    orgCode: orgCode
                    sortOrder: 9.965781217890562
                    name: name
                    divisionsInUse: true
                    season: season
                    id: 5.025004791520295
                    hasPlayoffPoints: true
                  clubName: clubName
                  link: link
                  teamCode: teamCode
                  fileCode: fileCode
                  active: true
                  allStarStatus: allStarStatus
                  springVenue:
                    name: name
                    link: link
                    active: true
                    season: season
                    id: 4.965218492984954
                  abbreviation: abbreviation
                  springLeague:
                    hasSplitSeason: true
                    link: link
                    active: true
                    abbreviation: abbreviation
                    nameShort: nameShort
                    hasWildCard: true
                    seasonDateInfo:
                      seasonStartDate: seasonStartDate
                      springStartDate: springStartDate
                      offseasonStartDate: offseasonStartDate
                      offseasonEndDate: offseasonEndDate
                      seasonId: seasonId
                      seasonLevelGamedayType: seasonLevelGamedayType
                      preSeasonStartDate: preSeasonStartDate
                      preSeasonEndDate: preSeasonEndDate
                      springEndDate: springEndDate
                      gameLevelGamedayType: gameLevelGamedayType
                    conferencesInUse: true
                    seasonState: seasonState
                    orgCode: orgCode
                    sortOrder: 9.965781217890562
                    name: name
                    divisionsInUse: true
                    season: season
                    id: 5.025004791520295
                    hasPlayoffPoints: true
                  division:
                    numPlayoffTeams: 6.438423552598547
                    league:
                      hasSplitSeason: true
                      link: link
                      active: true
                      abbreviation: abbreviation
                      nameShort: nameShort
                      hasWildCard: true
                      seasonDateInfo:
                        seasonStartDate: seasonStartDate
                        springStartDate: springStartDate
                        offseasonStartDate: offseasonStartDate
                        offseasonEndDate: offseasonEndDate
                        seasonId: seasonId
                        seasonLevelGamedayType: seasonLevelGamedayType
                        preSeasonStartDate: preSeasonStartDate
                        preSeasonEndDate: preSeasonEndDate
                        springEndDate: springEndDate
                        gameLevelGamedayType: gameLevelGamedayType
                      conferencesInUse: true
                      seasonState: seasonState
                      orgCode: orgCode
                      sortOrder: 9.965781217890562
                      name: name
                      divisionsInUse: true
                      season: season
                      id: 5.025004791520295
                      hasPlayoffPoints: true
                    sortOrder: 9.018348186070783
                    name: name
                    link: link
                    season: season
                    active: true
                    id: 9.369310271410669
                    abbreviation: abbreviation
                    nameShort: nameShort
                    sport:
                      code: code
                      activeStatus: true
                      sortOrder: 8.762042012749001
                      link: link
                      name: name
                      id: 6.683562403749608
                      abbreviation: abbreviation
                    hasWildcard: true
                  name: name
                  season: 1.1730742509559433
                  id: 7.457744773683766
                  shortName: shortName
                  sport:
                    code: code
                    activeStatus: true
                    sortOrder: 8.762042012749001
                    link: link
                    name: name
                    id: 6.683562403749608
                    abbreviation: abbreviation
                  franchiseName: franchiseName
                seriesNumber: 3.5571952270680973
            reverseHomeAwayStatus: true
            inningBreakLength: 2.8841621266687802
            officialDate: officialDate
            scheduledInnings: 1.284659006116532
            publicFacing: true
            dayNight: dayNight
            gamesInSeries: 6.778324963048013
            rescheduledToDate: rescheduledToDate
            gameNumber: 6.965117697638846
            ifNecessaryDescription: ifNecessaryDescription
            isTie: true
            seasonDisplay: seasonDisplay
            status:
              codedGameState: F
              abstractGameCode: abstractGameCode
              abstractGameState: abstractGameState
              detailedState: detailedState
              startTimeTBD: true
              statusCode: statusCode
          - gamePk: 3.616076749251911
            gameType: E
            venue:
              name: name
              link: link
              active: true
              season: season
              id: 4.965218492984954
            doubleHeader: doubleHeader
            calendarEventID: calendarEventID
            gameDate: gameDate
            link: link
            rescheduledFromDate: rescheduledFromDate
            description: description
            tiebreaker: tiebreaker
            rescheduledFrom: 7.386281948385884
            rescheduledTo: 4.145608029883936
            season: 2.027123023002322
            seriesGameNumber: 6.878052220127876
            gameGuid: gameGuid
            gamedayType: gamedayType
            recordSource: recordSource
            ifNecessary: ifNecessary
            seriesDescription: seriesDescription
            teams:
              away:
                score: 6.84685269835264
                isWinner: true
                leagueRecord:
                  wins: 1.2315135367772556
                  pct: pct
                  ties: 1.4894159098541704
                  losses: 1.0246457001441578
                splitSquad: true
                team:
                  teamName: teamName
                  venue:
                    name: name
                    link: link
                    active: true
                    season: season
                    id: 4.965218492984954
                  locationName: locationName
                  firstYearOfPlay: firstYearOfPlay
                  league:
                    hasSplitSeason: true
                    link: link
                    active: true
                    abbreviation: abbreviation
                    nameShort: nameShort
                    hasWildCard: true
                    seasonDateInfo:
                      seasonStartDate: seasonStartDate
                      springStartDate: springStartDate
                      offseasonStartDate: offseasonStartDate
                      offseasonEndDate: offseasonEndDate
                      seasonId: seasonId
                      seasonLevelGamedayType: seasonLevelGamedayType
                      preSeasonStartDate: preSeasonStartDate
                      preSeasonEndDate: preSeasonEndDate
                      springEndDate: springEndDate
                      gameLevelGamedayType: gameLevelGamedayType
                    conferencesInUse: true
                    seasonState: seasonState
                    orgCode: orgCode
                    sortOrder: 9.965781217890562
                    name: name
                    divisionsInUse: true
                    season: season
                    id: 5.025004791520295
                    hasPlayoffPoints: true
                  clubName: clubName
                  link: link
                  teamCode: teamCode
                  fileCode: fileCode
                  active: true
                  allStarStatus: allStarStatus
                  springVenue:
                    name: name
                    link: link
                    active: true
                    season: season
                    id: 4.965218492984954
                  abbreviation: abbreviation
                  springLeague:
                    hasSplitSeason: true
                    link: link
                    active: true
                    abbreviation: abbreviation
                    nameShort: nameShort
                    hasWildCard: true
                    seasonDateInfo:
                      seasonStartDate: seasonStartDate
                      springStartDate: springStartDate
                      offseasonStartDate: offseasonStartDate
                      offseasonEndDate: offseasonEndDate
                      seasonId: seasonId
                      seasonLevelGamedayType: seasonLevelGamedayType
                      preSeasonStartDate: preSeasonStartDate
                      preSeasonEndDate: preSeasonEndDate
                      springEndDate: springEndDate
                      gameLevelGamedayType: gameLevelGamedayType
                    conferencesInUse: true
                    seasonState: seasonState
                    orgCode: orgCode
                    sortOrder: 9.965781217890562
                    name: name
                    divisionsInUse: true
                    season: season
                    id: 5.025004791520295
                    hasPlayoffPoints: true
                  division:
                    numPlayoffTeams: 6.438423552598547
                    league:
                      hasSplitSeason: true
                      link: link
                      active: true
                      abbreviation: abbreviation
                      nameShort: nameShort
                      hasWildCard: true
                      seasonDateInfo:
                        seasonStartDate: seasonStartDate
                        springStartDate: springStartDate
                        offseasonStartDate: offseasonStartDate
                        offseasonEndDate: offseasonEndDate
                        seasonId: seasonId
                        seasonLevelGamedayType: seasonLevelGamedayType
                        preSeasonStartDate: preSeasonStartDate
                        preSeasonEndDate: preSeasonEndDate
                        springEndDate: springEndDate
                        gameLevelGamedayType: gameLevelGamedayType
                      conferencesInUse: true
                      seasonState: seasonState
                      orgCode: orgCode
                      sortOrder: 9.965781217890562
                      name: name
                      divisionsInUse: true
                      season: season
                      id: 5.025004791520295
                      hasPlayoffPoints: true
                    sortOrder: 9.018348186070783
                    name: name
                    link: link
                    season: season
                    active: true
                    id: 9.369310271410669
                    abbreviation: abbreviation
                    nameShort: nameShort
                    sport:
                      code: code
                      activeStatus: true
                      sortOrder: 8.762042012749001
                      link: link
                      name: name
                      id: 6.683562403749608
                      abbreviation: abbreviation
                    hasWildcard: true
                  name: name
                  season: 1.1730742509559433
                  id: 7.457744773683766
                  shortName: shortName
                  sport:
                    code: code
                    activeStatus: true
                    sortOrder: 8.762042012749001
                    link: link
                    name: name
                    id: 6.683562403749608
                    abbreviation: abbreviation
                  franchiseName: franchiseName
                seriesNumber: 3.5571952270680973
              home:
                score: 6.84685269835264
                isWinner: true
                leagueRecord:
                  wins: 1.2315135367772556
                  pct: pct
                  ties: 1.4894159098541704
                  losses: 1.0246457001441578
                splitSquad: true
                team:
                  teamName: teamName
                  venue:
                    name: name
                    link: link
                    active: true
                    season: season
                    id: 4.965218492984954
                  locationName: locationName
                  firstYearOfPlay: firstYearOfPlay
                  league:
                    hasSplitSeason: true
                    link: link
                    active: true
                    abbreviation: abbreviation
                    nameShort: nameShort
                    hasWildCard: true
                    seasonDateInfo:
                      seasonStartDate: seasonStartDate
                      springStartDate: springStartDate
                      offseasonStartDate: offseasonStartDate
                      offseasonEndDate: offseasonEndDate
                      seasonId: seasonId
                      seasonLevelGamedayType: seasonLevelGamedayType
                      preSeasonStartDate: preSeasonStartDate
                      preSeasonEndDate: preSeasonEndDate
                      springEndDate: springEndDate
                      gameLevelGamedayType: gameLevelGamedayType
                    conferencesInUse: true
                    seasonState: seasonState
                    orgCode: orgCode
                    sortOrder: 9.965781217890562
                    name: name
                    divisionsInUse: true
                    season: season
                    id: 5.025004791520295
                    hasPlayoffPoints: true
                  clubName: clubName
                  link: link
                  teamCode: teamCode
                  fileCode: fileCode
                  active: true
                  allStarStatus: allStarStatus
                  springVenue:
                    name: name
                    link: link
                    active: true
                    season: season
                    id: 4.965218492984954
                  abbreviation: abbreviation
                  springLeague:
                    hasSplitSeason: true
                    link: link
                    active: true
                    abbreviation: abbreviation
                    nameShort: nameShort
                    hasWildCard: true
                    seasonDateInfo:
                      seasonStartDate: seasonStartDate
                      springStartDate: springStartDate
                      offseasonStartDate: offseasonStartDate
                      offseasonEndDate: offseasonEndDate
                      seasonId: seasonId
                      seasonLevelGamedayType: seasonLevelGamedayType
                      preSeasonStartDate: preSeasonStartDate
                      preSeasonEndDate: preSeasonEndDate
                      springEndDate: springEndDate
                      gameLevelGamedayType: gameLevelGamedayType
                    conferencesInUse: true
                    seasonState: seasonState
                    orgCode: orgCode
                    sortOrder: 9.965781217890562
                    name: name
                    divisionsInUse: true
                    season: season
                    id: 5.025004791520295
                    hasPlayoffPoints: true
                  division:
                    numPlayoffTeams: 6.438423552598547
                    league:
                      hasSplitSeason: true
                      link: link
                      active: true
                      abbreviation: abbreviation
                      nameShort: nameShort
                      hasWildCard: true
                      seasonDateInfo:
                        seasonStartDate: seasonStartDate
                        springStartDate: springStartDate
                        offseasonStartDate: offseasonStartDate
                        offseasonEndDate: offseasonEndDate
                        seasonId: seasonId
                        seasonLevelGamedayType: seasonLevelGamedayType
                        preSeasonStartDate: preSeasonStartDate
                        preSeasonEndDate: preSeasonEndDate
                        springEndDate: springEndDate
                        gameLevelGamedayType: gameLevelGamedayType
                      conferencesInUse: true
                      seasonState: seasonState
                      orgCode: orgCode
                      sortOrder: 9.965781217890562
                      name: name
                      divisionsInUse: true
                      season: season
                      id: 5.025004791520295
                      hasPlayoffPoints: true
                    sortOrder: 9.018348186070783
                    name: name
                    link: link
                    season: season
                    active: true
                    id: 9.369310271410669
                    abbreviation: abbreviation
                    nameShort: nameShort
                    sport:
                      code: code
                      activeStatus: true
                      sortOrder: 8.762042012749001
                      link: link
                      name: name
                      id: 6.683562403749608
                      abbreviation: abbreviation
                    hasWildcard: true
                  name: name
                  season: 1.1730742509559433
                  id: 7.457744773683766
                  shortName: shortName
                  sport:
                    code: code
                    activeStatus: true
                    sortOrder: 8.762042012749001
                    link: link
                    name: name
                    id: 6.683562403749608
                    abbreviation: abbreviation
                  franchiseName: franchiseName
                seriesNumber: 3.5571952270680973
            reverseHomeAwayStatus: true
            inningBreakLength: 2.8841621266687802
            officialDate: officialDate
            scheduledInnings: 1.284659006116532
            publicFacing: true
            dayNight: dayNight
            gamesInSeries: 6.778324963048013
            rescheduledToDate: rescheduledToDate
            gameNumber: 6.965117697638846
            ifNecessaryDescription: ifNecessaryDescription
            isTie: true
            seasonDisplay: seasonDisplay
            status:
              codedGameState: F
              abstractGameCode: abstractGameCode
              abstractGameState: abstractGameState
              detailedState: detailedState
              startTimeTBD: true
              statusCode: statusCode
        - date: date
          totalGamesInProgress: 9.301444243932576
          totalItems: 5.637376656633329
          totalGames: 7.061401241503109
          totalEvents: 2.3021358869347655
          games:
          - gamePk: 3.616076749251911
            gameType: E
            venue:
              name: name
              link: link
              active: true
              season: season
              id: 4.965218492984954
            doubleHeader: doubleHeader
            calendarEventID: calendarEventID
            gameDate: gameDate
            link: link
            rescheduledFromDate: rescheduledFromDate
            description: description
            tiebreaker: tiebreaker
            rescheduledFrom: 7.386281948385884
            rescheduledTo: 4.145608029883936
            season: 2.027123023002322
            seriesGameNumber: 6.878052220127876
            gameGuid: gameGuid
            gamedayType: gamedayType
            recordSource: recordSource
            ifNecessary: ifNecessary
            seriesDescription: seriesDescription
            teams:
              away:
                score: 6.84685269835264
                isWinner: true
                leagueRecord:
                  wins: 1.2315135367772556
                  pct: pct
                  ties: 1.4894159098541704
                  losses: 1.0246457001441578
                splitSquad: true
                team:
                  teamName: teamName
                  venue:
                    name: name
                    link: link
                    active: true
                    season: season
                    id: 4.965218492984954
                  locationName: locationName
                  firstYearOfPlay: firstYearOfPlay
                  league:
                    hasSplitSeason: true
                    link: link
                    active: true
                    abbreviation: abbreviation
                    nameShort: nameShort
                    hasWildCard: true
                    seasonDateInfo:
                      seasonStartDate: seasonStartDate
                      springStartDate: springStartDate
                      offseasonStartDate: offseasonStartDate
                      offseasonEndDate: offseasonEndDate
                      seasonId: seasonId
                      seasonLevelGamedayType: seasonLevelGamedayType
                      preSeasonStartDate: preSeasonStartDate
                      preSeasonEndDate: preSeasonEndDate
                      springEndDate: springEndDate
                      gameLevelGamedayType: gameLevelGamedayType
                    conferencesInUse: true
                    seasonState: seasonState
                    orgCode: orgCode
                    sortOrder: 9.965781217890562
                    name: name
                    divisionsInUse: true
                    season: season
                    id: 5.025004791520295
                    hasPlayoffPoints: true
                  clubName: clubName
                  link: link
                  teamCode: teamCode
                  fileCode: fileCode
                  active: true
                  allStarStatus: allStarStatus
                  springVenue:
                    name: name
                    link: link
                    active: true
                    season: season
                    id: 4.965218492984954
                  abbreviation: abbreviation
                  springLeague:
                    hasSplitSeason: true
                    link: link
                    active: true
                    abbreviation: abbreviation
                    nameShort: nameShort
                    hasWildCard: true
                    seasonDateInfo:
                      seasonStartDate: seasonStartDate
                      springStartDate: springStartDate
                      offseasonStartDate: offseasonStartDate
                      offseasonEndDate: offseasonEndDate
                      seasonId: seasonId
                      seasonLevelGamedayType: seasonLevelGamedayType
                      preSeasonStartDate: preSeasonStartDate
                      preSeasonEndDate: preSeasonEndDate
                      springEndDate: springEndDate
                      gameLevelGamedayType: gameLevelGamedayType
                    conferencesInUse: true
                    seasonState: seasonState
                    orgCode: orgCode
                    sortOrder: 9.965781217890562
                    name: name
                    divisionsInUse: true
                    season: season
                    id: 5.025004791520295
                    hasPlayoffPoints: true
                  division:
                    numPlayoffTeams: 6.438423552598547
                    league:
                      hasSplitSeason: true
                      link: link
                      active: true
                      abbreviation: abbreviation
                      nameShort: nameShort
                      hasWildCard: true
                      seasonDateInfo:
                        seasonStartDate: seasonStartDate
                        springStartDate: springStartDate
                        offseasonStartDate: offseasonStartDate
                        offseasonEndDate: offseasonEndDate
                        seasonId: seasonId
                        seasonLevelGamedayType: seasonLevelGamedayType
                        preSeasonStartDate: preSeasonStartDate
                        preSeasonEndDate: preSeasonEndDate
                        springEndDate: springEndDate
                        gameLevelGamedayType: gameLevelGamedayType
                      conferencesInUse: true
                      seasonState: seasonState
                      orgCode: orgCode
                      sortOrder: 9.965781217890562
                      name: name
                      divisionsInUse: true
                      season: season
                      id: 5.025004791520295
                      hasPlayoffPoints: true
                    sortOrder: 9.018348186070783
                    name: name
                    link: link
                    season: season
                    active: true
                    id: 9.369310271410669
                    abbreviation: abbreviation
                    nameShort: nameShort
                    sport:
                      code: code
                      activeStatus: true
[...]
