openapi: 3.1.0
info:
  title: MLB StatAPI
  license:
    name: "Public Domain"
    identifier: "Public Domain"
  description: >
    OpenAPI spec for the MLB Stats API (upstream API is undocumented).
  version: 0.7.3
  contact:
    name: "dave@mudsite.com"

servers:
  - url: https://statsapi.mlb.com/api

tags:
  - name: Reference
    description: Reference data (divisions, leagues, seasons, teams)
  - name: People
    description: Person (player) information and stats
  - name: Schedule
    description: Schedule and games list
  - name: Games
    description: Game detail (boxscore, linescore)
  - name: Standings
    description: Division and league standings

paths:
  /v1/divisions:
    $ref: ./paths/divisions.yaml
  /v1/game/{gamePk}/boxscore:
    $ref: ./paths/boxscore.yaml
  /v1/game/{gamePk}/linescore:
    $ref: ./paths/linescore.yaml
  /v1/leagues:
    $ref: ./paths/leagues.yaml
  /v1/people/{personId}:
    $ref: ./paths/people.yaml
  /v1/people/{personId}/stats:
    $ref: ./paths/peopleStats.yaml
  /v1/schedule:
    $ref: ./paths/schedule.yaml
  /v1/seasons:
    $ref: ./paths/season.yaml
  /v1/seasons/all:
    $ref: ./paths/allSeasons.yaml
  /v1/teams:
    $ref: ./paths/teams.yaml
  /v1/standings:
    $ref: ./paths/standings.yaml

components:
  parameters:
    $ref: ./components/parameters/parameters.yaml
  schemas:
    $ref: ./components/schemas/schemas.yaml