name: Publish Package to npmjs
on:
  release:
    types: [published]
  push:
    tags:
      - '*'

permissions:
  id-token: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      # Setup .npmrc file to publish to npm
      - uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          registry-url: 'https://registry.npmjs.org'

      - name: Install Dependencies
        run: npm install

      - name: Lint spec
        run: make lint

      - name: Generate Library
        run: make bundle && make gen-ts && npm run build --if-present

      - run: npm publish